<%- include('./partials/adminHeader.ejs') %>

<!-- ============================================================== -->
<!-- End Left Sidebar - style you can find in sidebar.scss  -->
<!-- ============================================================== -->
<!-- ============================================================== -->
<!-- Page wrapper  -->
<!-- ============================================================== -->
<div class="page-wrapper">
  <!-- ============================================================== -->
  <!-- Bread crumb and right sidebar toggle -->
  <!-- ============================================================== -->
  <div class="page-breadcrumb">
    <div class="row">
      <div class="col-12 d-flex no-block align-items-center">
        <h3 class="page-title">Dashboard</h3>
      </div>
    </div>
  </div>
  <!-- ============================================================== -->
  <!-- End Bread crumb and right sidebar toggle -->
  <!-- ============================================================== -->
  <!-- ============================================================== -->
  <!-- Container fluid  -->
  <!-- ============================================================== -->
  <div class="container-fluid">
    <!-- ============================================================== -->
    <!-- Sales Cards  -->
    <!-- ============================================================== -->

    <!-- Column -->

    <!-- ============================================================== -->
    <!-- Sales chart -->
    <!-- ============================================================== -->
    <div class="row">
      <div class="col-md-12">
        <div class="card">
          <div class="card-body">
            <div class="d-md-flex align-items-center">
              <div>
                <h3 class="card-title">Sale analysis</h3>
                <h5 class="card-subtitle">Overview of This Year</h5>
              </div>
            </div>
            <div class="row">
              <!-- column -->
              <div class="col-lg-9">
                <div class="chart-container">
                  <div id="chart"></div>
                </div>
              </div>
              <div class="col-lg-3">
                <div class="row">
                  <div class="col-6">
                    <div class="bg-dark p-10 text-white text-center">
                      <i class="mdi mdi-account fs-3 mb-1 font-16"></i>
                      <h5 class="mb-0 mt-1"><%= totalUsers %></h5>
                      <small class="font-light">Total Users</small>
                    </div>
                  </div>
                  <div class="col-6">
                    <div class="bg-dark p-10 text-white text-center">
                      <i class="mdi mdi-cash fs-3 font-16"></i>
                      <h5 class="mb-0 mt-1">₹ <%= formattedRevenue %></h5>
                      <small class="font-light">Total Revenue</small>
                    </div>
                  </div>

                  <div class="col-6 mt-3">
                    <div class="bg-dark p-10 text-white text-center">
                      <i class="mdi mdi-tag fs-3 mb-1 font-16"></i>
                      <h5 class="mb-0 mt-1"><%= totalOrders %></h5>
                      <small class="font-light">Total Orders</small>
                    </div>
                  </div>
                  <div class="col-6 mt-3">
                    <div class="bg-dark p-10 text-white text-center">
                      <i class="mdi mdi-table fs-3 mb-1 font-16"></i>
                      <h5 class="mb-0 mt-1"><%= totalPending %></h5>
                      <small class="font-light">Pending Orders</small>
                    </div>
                  </div>
                  <div class="col-6 mt-3">
                    <div class="bg-dark p-10 text-white text-center">
                      <i
                        class="mdi mdi-book-open-page-variant fs-3 mb-1 font-16"
                      ></i>
                      <h5 class="mb-0 mt-1"></h5>
                      <small class="font-light">Total Products</small>
                    </div>
                  </div>
                  <div class="col-6 mt-3">
                    <div class="bg-dark p-10 text-white text-center">
                      <i class="mdi mdi-truck-delivery fs-3 mb-1 font-16"></i>
                      <h5 class="mb-0 mt-1"><%= totalDispatch %></h5>
                      <small class="font-light">Total Dispatch</small>
                    </div>
                  </div>
                </div>
              </div>
              <!-- column -->
              <div class="row mt-3">
                <div class="col-lg-6">
                  <h3 class="card-title">Sale analysis</h3>
                  <h5 class="card-subtitle">Category wise sales</h5>
                  <div class="chart-container">
                    <div id="chart2"></div>
                  </div>
                </div>
                <div class="col-lg-6">
                  <h3 class="card-title">Payment analysis</h3>
                  <div class="chart-container">
                    <div id="chart3"></div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <!-- ============================================================== -->
    <!-- Sales chart -->
    <!-- ============================================================== -->
    <!-- ============================================================== -->
    <!-- Recent comment and chats -->
    <!-- ============================================================== -->

    <!-- ============================================================== -->
    <!-- Recent comment and chats -->
    <!-- ============================================================== -->
  </div>
  <!-- ============================================================== -->
  <!-- End Container fluid  -->
  <!-- ============================================================== -->
  <!-- ============================================================== -->
  <!-- footer -->
  <!-- ============================================================== -->
  <script src="https://cdn.jsdelivr.net/npm/apexcharts"></script>
  <script>
    var paymentData = '';
    var monthlyData = '';
    var categoryData = '';
    var categoryName = ``.split(",")

     //--------------- chart 1 ------------//
    
    var options = {
      series: [
        {
          name: 'revenue',
          data: JSON.parse(monthlyData),
        },
      ],
      chart: {
        height: 350,
        type: 'bar',
      },
      plotOptions: {
        bar: {
          columnWidth: '45%',
          distributed: true,
        },
      },
      dataLabels: {
        enabled: false,
      },
      legend: {
        show: false,
      },
      theme: {
        palette: 'palette2',
      },
      xaxis: {
        categories: [
          'Jan',
          'Feb',
          'Mar',
          'Apr',
          'May',
          'Jun',
          'Jul',
          'Aug',
          'Sep',
          'Oct',
          'Nov',
          'Dec',
        ],
        labels: {
          style: {
            fontSize: '14px',
          },
        },
      },
    };

    var chart1 = new ApexCharts(document.querySelector('#chart'), options);
    chart1.render();

     //--------------- chart 2 ------------//

    var options2 = {
      chart: {
        type: 'donut',
      },
      series: JSON.parse(categoryData),
      labels:  categoryName,
      plotOptions: {
        pie: {
          customScale: 0.8,
        },
      },

     
    };

    var chart2 = new ApexCharts(document.querySelector('#chart2'), options2);
    chart2.render();

     //--------------- chart 3 ------------//

     var options3 = {
      chart: {
        type: 'pie',
      },
      series: JSON.parse(paymentData),
      labels:  ['Online payment','Cash on delivery'],
      plotOptions: {
        pie: {
          customScale: 0.7,
        },
      },

   
      theme: {
        palette: 'palette3',
      },
    };

    var chart3 = new ApexCharts(document.querySelector('#chart3'), options3);
    chart3.render();

  </script>

  <%- include('./partials/adminFooter.ejs') %>
</div>
