<%- include('./partials/adminHeader.ejs') %>

<!-- ============================================================== -->
<!-- End Left Sidebar - style you can find in sidebar.scss  -->
<!-- ============================================================== -->
<!-- ============================================================== -->
<!-- Page wrapper  -->
<!-- ============================================================== -->
<div class="page-wrapper">
  <!-- ============================================================== -->
  <!-- Bread crumb and right sidebar toggle -->
  <!-- ============================================================== -->
  <div class="page-breadcrumb">
    <div class="row">
      <div class="col-12 d-flex no-block align-items-center">
        <h3 class="page-title">Category management</h3>
      </div>
    </div>
  </div>
  <!-- ============================================================== -->
  <!-- End Bread crumb and right sidebar toggle -->
  <!-- ============================================================== -->
  <!-- ============================================================== -->
  <!-- Container fluid  -->
  <!-- ============================================================== -->
  <div class="container-fluid">
    <!-- ============================================================== -->
    <!-- Sales Cards  -->
    <!-- ============================================================== -->

    <!-- Column -->

    <!-- ============================================================== -->
    <!-- Sales chart -->
    <!-- ============================================================== -->
    <div class="row">
      <div class="col-md-12">
        <div class="card">
          <div class="card-body">
            <div class="p-3 mb-3 d-flex justify-content-end">
              <a href="/admin/categoryM/addCategory"
                ><button class="btn btn-outline-success">
                  <i class="fa fa-plus-square fs-5"></i> Add category
                </button></a
              >
            </div>

            <div class="table-responsive">
              <table
                id="zero_config"
                class="table table-striped table-bordered"
              >
                <thead class="table-dark">
                  <tr>
                    <th class="text-white">N.O</th>
                    <th class="text-white">Name</th>
                    <th class="text-white">Created date</th>
                    <th class="text-white">Last updated</th>
                    <th class="text-white">Options</th>
                  </tr>
                </thead>
                <tbody>
                  <% categories.forEach((category,index)=> { %>
                  <tr>
                    <td><%= index+1 %></td>
                    <td><%= category.name %></td>
                    <td><%= category.createdAt.toLocaleString('en-GB') %></td>
                    <td><%= category.updatedAt.toLocaleString('en-GB') %></td>

                    <td>
                      <div
                        class="d-flex justify-content-center align-items-center"
                      >
                        <a
                          href="/admin/categoryM/editCategory/<%= category._id %> "
                          class="me-3 btn btn-dark"
                          ><i class="mdi mdi-pencil"></i
                        ></a>

                        <% if (category.unList) { %>
                        <a
                          href="/admin/categoryM/list/<%= category._id %> "
                          class="btn btn-light btn-outline-success"
                          onclick="return confirm('Do you want to List <%= category.name %> ?')"
                        >
                          List</a
                        >
                        <% } else { %>
                        <a
                          href="/admin/categoryM/unList/<%= category._id %> "
                          class="btn btn-light btn-outline-danger"
                          onclick="return confirm('Do you really want to Unlist <%= category.name %> ?')"
                        >
                          Unlist</a
                        >
                        <% } %>
                      </div>
                    </td>
                  </tr>
                  <% }) %>
                </tbody>
              </table>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!-- ============================================================== -->
  <!-- Sales chart -->
  <!-- ============================================================== -->
  <!-- ============================================================== -->
  <!-- Recent comment and chats -->
  <!-- ============================================================== -->

  <!-- ============================================================== -->
  <!-- Recent comment and chats -->
  <!-- ============================================================== -->
</div>
<!-- ============================================================== -->
<!-- End Container fluid  -->
<!-- ============================================================== -->
<!-- ============================================================== -->
<!-- footer -->
<!-- ============================================================== -->

<%- include('./partials/adminFooter.ejs') %>
