<%- include('./partials/adminHeader.ejs') %>

<style>
  input.is-invalid {
    border-color: red;
    background-color: #ffe6e6;
  }
</style>
<!-- ============================================================== -->
<!-- End Left Sidebar - style you can find in sidebar.scss  -->
<!-- ============================================================== -->
<!-- ============================================================== -->
<!-- Page wrapper  -->
<!-- ============================================================== -->
<div class="page-wrapper">
  <!-- ============================================================== -->
  <!-- Bread crumb and right sidebar toggle -->
  <!-- ============================================================== -->
  <div class="page-breadcrumb">
    <div class="row">
      <div
        class="col-12 d-flex no-block align-items-center justify-content-between"
      >
        <h3 class="page-title">Edit coupon</h3>
        <a href="/admin/couponM" class="btn btn-rounded btn-dark"
          ><i class="fa fa-chevron-circle-left"> Back</i></a
        >
      </div>
    </div>
  </div>
  <!-- ============================================================== -->
  <!-- End Bread crumb and right sidebar toggle -->
  <!-- ============================================================== -->
  <!-- ============================================================== -->
  <!-- Container fluid  -->
  <!-- ============================================================== -->
  <div class="container-fluid">
    <!-- ============================================================== -->
    <!-- Sales Cards  -->
    <!-- ============================================================== -->

    <!-- Column -->

    <!-- ============================================================== -->
    <!-- Sales chart -->
    <!-- ============================================================== -->
    <div class="row">
      <div class="col-md-12">
        <div class="card">
          <div class="card-body" style="background-color: #061c31">
            <h4 class="card-title text-success">
              Edit
              <span class="text-muted"> <%= coupon.name %> </span>
            </h4>
            <form
              class="form-horizontal mt-4"
              id="couponForm"
              action="/admin/couponM/editCoupon/<%= coupon._id %>"
              method="post"
            >
              <div class="row">
                <div class="form-group col-md-4">
                  <label class="text-white">Name</label>
                  <input
                    type="text"
                    class="form-control"
                    id="couponName"
                    name="name"
                    value="<%=coupon.name %>"
                    required
                  />
                  <label id="nameError" class="text-danger"></label>
                </div>
                <div class="form-group col-md-4">
                  <label class="text-white" for="couponCode">Code</label>
                  <input
                    type="text"
                    id="couponCode"
                    name="code"
                    class="form-control"
                    value="<%=coupon.code  %>"
                    required
                  />
                  <label id="codeError" class="text-danger"></label>
                </div>
                <div class="form-group col-md-4">
                  <label class="text-white">Discount</label>
                  <input
                    type="number"
                    class="form-control"
                    name="discountPercentage"
                    value="<%= coupon.discountPercentage %>"
                    min="1"
                    max="70"
                    required
                  />
                </div>
              </div>

              <div class="row mb-3">
                <label for="" class="text-danger"> <%= error %> </label>
              </div>

              <div class="row">
                <div class="form-group col-md-4">
                  <label class="text-white">Min purchase amount</label>
                  <input
                    type="number"
                    class="form-control"
                    min="20"
                    name="minPurchaseAmount"
                    value="<%= coupon.minPurchaseAmount %>"
                    required
                  />
                </div>

                <div class="form-group col-md-4">
                  <label class="text-white">Max discount amount</label>
                  <input
                    type="number"
                    class="form-control"
                    min="10"
                    name="maxDiscountAmount"
                    value="<%=coupon.maxDiscountAmount %>"
                    required
                  />
                </div>

                <div class="form-group col-md-4">
                  <label class="text-white">Expiry</label>
                  <input
                    type="date"
                    class="form-control"
                    min="<%= todaysDate %>"
                    name="expiryDate"
                    value="<%= expiryDate %>"
                    required
                  />
                </div>
              </div>

              <div class="d-flex justify-content-center mt-4">
                <button class="btn btn-success" type="submit">
                  <span class="text-white"> Save</span>
                </button>
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!-- ============================================================== -->
  <!-- Sales chart -->
  <!-- ============================================================== -->
  <!-- ============================================================== -->
  <!-- Recent comment and chats -->
  <!-- ============================================================== -->

  <!-- ============================================================== -->
  <!-- Recent comment and chats -->
  <!-- ============================================================== -->
</div>
<!-- ============================================================== -->
<!-- End Container fluid  -->
<!-- ============================================================== -->
<!-- ============================================================== -->
<!-- footer -->
<!-- ============================================================== -->

<script>
  // Get the form element
  const form = document.getElementById('couponForm');

  // Add an event listener for form submission
  form.addEventListener('submit', function (event) {
    // Prevent the form from submitting
    event.preventDefault();

    // Get the input fields
    const name = document.getElementById('couponName');
    const code = document.getElementById('couponCode');

    // Get the error message elements
    const nameError = document.getElementById('nameError');
    const codeError = document.getElementById('codeError');

    // Validate the input fields
    let isValid = true;

    if (name.value.trim().length < 5) {
      name.classList.add('is-invalid');
      nameError.textContent = 'Name should not be empty spaces';
      isValid = false;
    } else {
      name.classList.remove('is-invalid');
      nameError.textContent = '';
    }

    if (code.value.trim().length < 5) {
      code.classList.add('is-invalid');
      codeError.textContent =
        'code should not be empty spaces and must contain atleast 5 characters';
      isValid = false;
    } else {
      code.classList.remove('is-invalid');
      codeError.textContent = '';
    }

    // If the form is valid, submit it
    if (isValid) {
      form.submit();
    }
  });
</script>

<%- include('./partials/adminFooter.ejs') %>
