
                <%- include('./partials/adminHeader.ejs') %>

        <!-- ============================================================== -->
        <!-- End Left Sidebar - style you can find in sidebar.scss  -->
        <!-- ============================================================== -->
        <!-- ============================================================== -->
        <!-- Page wrapper  -->
        <!-- ============================================================== -->
        <div class="page-wrapper">
            <!-- ============================================================== -->
            <!-- Bread crumb and right sidebar toggle -->
            <!-- ============================================================== -->
            <div class="page-breadcrumb">
                <div class="row">
                    <div class="col-12 d-flex no-block align-items-center justify-content-between">
                        <h3 class="page-title">Edit product</h3>
                        <a href="/admin/productM" class="btn btn-rounded btn-dark"><i class="fa fa-chevron-circle-left">
                                Back</i></a>
                    </div>
                </div>
            </div>
            <!-- ============================================================== -->
            <!-- End Bread crumb and right sidebar toggle -->
            <!-- ============================================================== -->
            <!-- ============================================================== -->
            <!-- Container fluid  -->
            <!-- ============================================================== -->
            <div class="container-fluid">
                <!-- ============================================================== -->
                <!-- Sales Cards  -->
                <!-- ============================================================== -->

                <!-- Column -->

                <!-- ============================================================== -->
                <!-- Sales chart -->
                <!-- ============================================================== -->
                <div class="row">
                    <div class="col-md-12">
                        <div class="card">
                            <div class="card-body" style="background-color: #061c31;">

                                <form class="form-horizontal mt-4" id="form"
                                    action="/admin/productM/editProduct/<%= product._id %>" method="post"
                                    enctype="multipart/form-data">
                                    <div class="row">
                                        <div class="form-group col-md-4">
                                            <label class="text-white">Name</label>
                                            <input type="text" class="form-control" name="name"
                                                value="<%= product.name %>" placeholder="Book title" required>
                                        </div>
                                        <div class="form-group col-md-4">
                                            <label class="text-white for=" Author">Author</label>
                                            <input type="text" id="Author" name="author" value="<%= product.author %>"
                                                class="form-control" placeholder="Name of the Author" required>
                                        </div>

                                        <div class="form-group col-md-4">
                                            <label class="text-white">Category</label>
                                            <select class="form-select shadow-none col-12" name="category"
                                                id="inlineFormCustomSelect" required>
                                                <option selected value="<%= product.category %>">
                                                    <%= product.category %>
                                                </option>
                                                <% categories.forEach(category=> { %>
                                                    <option value="<%=category.name %>">
                                                        <%= category.name %>
                                                    </option>
                                                    <% }) %>
                                            </select>
                                        </div>

                                    </div>

                                    <div class="row">

                                        <div class="form-group col-md-4">
                                            <label class="text-white">MRP</label>
                                            <input type="number" class="form-control" name="mrp"
                                                value="<%= product.mrp %>" placeholder="Maximum retailing price"
                                                required>
                                        </div>

                                        <div class="form-group col-md-4">
                                            <label class="text-white">Price</label>
                                            <input type="number" class="form-control" name="price"
                                                value="<%= product.price %>" placeholder="BookNook retailing price"
                                                required>
                                        </div>

                                        <div class="form-group col-md-4">
                                            <label class="text-white">Stock</label>
                                            <input type="number" class="form-control" name="inStock"
                                                value="<%= product.inStock %>"
                                                placeholder="Available quantity of product" required>
                                        </div>

                                    </div>

                                    <div class="form-group">
                                        <label class="text-white">Description</label>
                                        <input type="text" class="form-control" name="description"
                                            value="<%= product.description %>" required>
                                    </div>

                                    <div class="form-group">
                                        <label class="text-white">Rich Description</label>
                                        <textarea class="form-control" name="richDescription" rows="5"
                                            required><%= product.richDescription %></textarea>
                                    </div>
                                    <div class="row">

                                        <div class="col-md-4 ">

                                            <div class="form-outline">
                                                <img style="width: 150px; height: 200px;"
                                                    src="/images/productImages/<%= product.mainImage[0].filename %>"
                                                    id="mainImageDisplay" alt="">
                                            </div>
                                        </div>
                                        <div class="col-md-4 ">

                                            <div class="form-outline">
                                                <img style="width: 300px; height: 200px;"
                                                    src="/images/productImages/<%= product.coverImage[0].filename %>"
                                                    id="coverImageDisplay" alt="">
                                            </div>
                                        </div>

                                        <div class="col-md-4">

                                            <div class="form-outline d-lg-flex">

                                                <% product.extraImages.forEach((image,index)=> { %>
                                                    <div style="position: relative; width: 120px; height: 200px; ">
                                                        <img style="width: 120px; height: 200px;"
                                                            src="/images/productImages/<%= image.filename %>" alt="">
                                                        <a id="extraImageDelete"
                                                            href="/admin/productM/editProduct/deleteExtraImage/<%= product._id %>/<%= image.filename %>"
                                                            onclick="return confirm('Do you really want to Delete this image')">
                                                            <button type="button" class="btn btn-circle btn-danger"
                                                                style="position: absolute; top: 0; right: 0; "><span
                                                                    class="mdi mdi-delete"></span></button>
                                                        </a>
                                                    </div>

                                                    <% }) %>

                                            </div>
                                        </div>

                                    </div>
                                    <div class="row mt-4">

                                        <div class="form-group col-md-4">
                                            <label class="text-white">Image</label>
                                            <input type="file" class="form-control" accept="image/*" name="mainImage">
                                        </div>

                                        <div class="form-group col-md-4">
                                            <label class="text-white">Cover Image</label>
                                            <input type="file" class="form-control" accept="image/*" name="coverImage">
                                        </div>

                                        <div class="form-group col-md-4">
                                            <label class="text-white">Side Images</label>
                                            <input id="images" type="file" multiple class="form-control"
                                                accept="image/*" name="extraImages">
                                        </div>
                                    </div>
                                    <div class="row mt-4">
                                        <label for="" class="text-danger">
                                            <%= imageError %>
                                        </label>
                                    </div>

                                    <div class="d-flex justify-content-center mt-4">
                                        <button id="submit" class="btn btn-success" type="submit"><span
                                                class="text-white"> Save</span></button>
                                    </div>

                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- ============================================================== -->
            <!-- Sales chart -->
            <!-- ============================================================== -->
            <!-- ============================================================== -->
            <!-- Recent comment and chats -->
            <!-- ============================================================== -->

            <!-- ============================================================== -->
            <!-- Recent comment and chats -->
            <!-- ============================================================== -->
        </div>
        <!-- ============================================================== -->
        <!-- End Container fluid  -->
        <!-- ============================================================== -->
        <!-- ============================================================== -->
        <!-- footer -->
        <!-- ============================================================== -->
        <%- include('./partials/adminFooter.ejs') %>
