<%- include('./partials/header') %>


    <head>
        <!--------------- 2nd template files ------------------>

        <!-- Google Font -->
        <link href="https://fonts.googleapis.com/css2?family=Nunito+Sans:wght@300;400;600;700;800;900&display=swap"
            rel="stylesheet">

        <!-- Css Styles -->
        <link rel="stylesheet" href="/template2/css/style.css" type="text/css">

        <!--------------- 2nd template files ------------------>

        <style>
            .address-box {
                background-color: #dddddd;
                border-radius: 10px;
                justify-content: space-between;
                width: 100%;
                display: flex;

                align-items: center;
                padding: 20px;
            }

            .address-detail {
                display: flex;
                flex-direction: column;
            }

            .address-box input {
                width: 15px;
                height: 15px;
            }
        </style>


    </head>


    <!-- Checkout Section Begin -->
    <section class="checkout spad">
        <div class="container">
            <div class="d-flex justify-content-start mb-3">

            </div>

            <div class="checkout__form">


                <div class="row">

                    <div class="col-lg-8 col-md-6">

                        <h4 class="checkout__title">Billing Details</h4>
                        <div id="accordion">
                            <div class="card">
                                <div class="card-header" id="headingTwo">
                                    <h5 class="mb-0">
                                        <button class="btn collapsed" data-toggle="collapse" data-target="#collapseTwo"
                                            aria-expanded="false" aria-controls="collapseTwo">
                                            Add Address <i class="fa-regular fa-plus"></i>
                                        </button>
                                    </h5>
                                </div>
                                <div id="collapseTwo" class="collapse" data-parent="#accordion">
                                    <div class="card-body">
                                        <form id="addAddressForm" action="/profile/addAddress" method="post">
                                            <div class="row">

                                                <div class="col-lg-6">
                                                    <div class="checkout__input">
                                                        <p>Name<span>*</span></p>
                                                        <input type="text" name="name" required />
                                                    </div>
                                                </div>
                                                <div class="col-lg-6">
                                                    <div class="checkout__input">
                                                        <p>Mobile<span>*</span></p>
                                                        <input type="text" placeholder="+91" name="mobile"
                                                            pattern="[0-9]*" minlength="10" maxlength="10" required />
                                                        <label for="mobile">format:8923488398</label>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="checkout__input">
                                                <p>Address<span>*</span></p>
                                                <textarea name="address" rows="3" form="addAddressForm"
                                                    required></textarea>
                                            </div>
                                            <div class="checkout__input">
                                                <p>Town/City<span>*</span></p>
                                                <input type="text" name="city" required />
                                            </div>
                                            <div class="checkout__input">
                                                <p>State<span>*</span></p>
                                                <input type="text" name="state" required />
                                            </div>
                                            <div class="checkout__input">
                                                <p>PIN code<span>*</span></p>
                                                <input type="number" minlength="4" maxlength="8" name="pinCode"
                                                    required />
                                            </div>
                                            <div class="">
                                                <button type="submit" class="btn btn-rounded btn-danger">Save</button>
                                            </div>
                                        </form>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <form id="mainForm" action="/cart/checkout" method="post"></form>
                        <div>

                            <h6 class="mt-5 checkout__title">Choose Address</h6>

                            <% if (addressError) { %>
                                <div class="alert alert-dismissable fade show alert-warning d-flex justify-content-between"
                                    role="alert">
                                    <strong>
                                        Please choose an address before proceeding.if you doesn't have any saved
                                        addresses
                                        please add one using the button given above.
                                    </strong>
                                </div>
                                <% } %>

                                    <% if (!address[0]) { %>

                                        <div class="address-radio">
                                            <input type="radio" class="pixel-radio" hidden value="empty" form="mainForm"
                                                name="address" id="empty" checked required>

                                        </div>
                                        <% }else{%>
                                            <% address.forEach(addr=>{ %>
                                                <label class="address-box mt-3" for="<%= addr.id  %>">
                                                    <div class="address-detail">
                                                        <b class="d-flex  text-dark">
                                                            <%=addr.name %>

                                                        </b>
                                                        <b class="text-dark">
                                                            <%=addr.mobile %>
                                                        </b>
                                                        <b class="text-dark">
                                                            <%=addr.address %>
                                                        </b>
                                                        <b class="text-dark">PIN: <%=addr.pinCode %> </b>
                                                    </div>

                                                    <div class="address-radio">
                                                        <div class="mb-5 d-flex">

                                                            <button class="btn m-1 collapsed" data-toggle="collapse"
                                                                data-target="#collapse<%= addr.id %>"
                                                                aria-expanded="false" aria-controls="collapseTwo">
                                                                <i class="fa-solid fa-pen-to-square"></i>
                                                            </button>

                                                            <a  href="/profile/deleteAddress/<%=addr.id %>" class="btn btn-light m-1"
                                                                onclick="return confirm(`Do you really want to remove this address ?`)">
                                                                <i class="fa-solid fa-trash"></i>
                                                            </a>
                                                        </div>
                                                        <input type="radio" style="background-color: #ffffff;"
                                                            class="pixel-radio" value="<%= addr.id  %>" form="mainForm"
                                                            name="address" id="<%= addr.id  %>" required>
                                                    </div>

                                                </label>
                                                <div id="accordion<%= addr.id %>">
                                                    <div class="card">
                                                        <div id="collapse<%= addr.id %>" class="collapse"
                                                            data-parent="#accordion<%= addr.id %>">
                                                            <div class="card-body">
                                                                <form id="editAddressForm<%= addr.id %>"
                                                                    action="/profile/editAddress/<%= addr.id %>"
                                                                    method="post">
                                                                    <div class="row">

                                                                        <div class="col-lg-6">
                                                                            <div class="checkout__input">
                                                                                <p>Name<span>*</span></p>
                                                                                <input type="text" name="name"
                                                                                    value="<%= addr.name %>" required />
                                                                            </div>
                                                                        </div>
                                                                        <div class="col-lg-6">
                                                                            <div class="checkout__input">
                                                                                <p>Mobile<span>*</span></p>
                                                                                <input type="text" placeholder="+91"
                                                                                    name="mobile" pattern="[0-9]*"
                                                                                    minlength="10" maxlength="10"
                                                                                    value="<%= addr.mobile %>"
                                                                                    required />
                                                                                <label
                                                                                    for="mobile">format:8923488398</label>
                                                                            </div>
                                                                        </div>
                                                                    </div>
                                                                    <div class="checkout__input">
                                                                        <p>Address<span>*</span></p>
                                                                        <textarea name="address" rows="3"
                                                                            form="editAddressForm<%= addr.id %>"
                                                                            required><%= addr.address %></textarea>
                                                                    </div>
                                                                    <div class="checkout__input">
                                                                        <p>Town/City<span>*</span></p>
                                                                        <input type="text" name="city"
                                                                            value="<%= addr.city %>" required />
                                                                    </div>
                                                                    <div class="checkout__input">
                                                                        <p>State<span>*</span></p>
                                                                        <input type="text" name="state"
                                                                            value="<%= addr.state %>" required />
                                                                    </div>
                                                                    <div class="checkout__input">
                                                                        <p>PIN code<span>*</span></p>
                                                                        <input type="number" minlength="4" maxlength="8"
                                                                            name="pinCode" value="<%= addr.pinCode %>"
                                                                            required />
                                                                    </div>
                                                                    <div class="">
                                                                        <button type="submit"
                                                                            form="editAddressForm<%= addr.id %>"
                                                                            class="btn btn-rounded btn-danger">Save
                                                                            changes</button>
                                                                    </div>
                                                                </form>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>

                                                <% }) %>
                                                    <% } %>

                        </div>


                    </div>
                    <div class="col-lg-4 col-md-6">
                        <form id="couponForm" action="/cart/checkout/coupon" method="post"></form>
                        <div class="cart__discount">
                            <h6>Discount codes</h6>
                            <div class="input-group">
                                <input type="text" class="form-control" form="couponForm" name="couponCode"
                                    placeholder="Coupon code" required />
                                <button type="submit" form="couponForm" class="btn btn-rounded btn-danger btn-md" style="
                            font-size: 14px;
                            color: #ffffff;
                            font-weight: 700;
                            letter-spacing: 2px;
                            text-transform: uppercase;
                            background: #da1111;
                            width: auto;
                            border: none;
                          ">
                                    Apply
                                </button>
                            </div>
                        </div>
                        <div class="checkout__order mb-5">
                            <h4 class="order__title">Your order</h4>
                            <div class="checkout__order__products">
                                Product <span>Total</span>
                            </div>
                            <ul class="checkout__total__products">
                                <% products.forEach(product=> { %>
                                    <li>
                                        <%= product.name %> <span>₹ <%= product.price * product.cartQuantity %></span>
                                    </li>
                                    <% }) %>
                            </ul>
                            <ul class="checkout__total__all">
                                <li>Sub total <span>₹ <%= totalPrice %></span></li>
                                <input id="subTotalPriceInput" name="totalAmount" type="number" value="<%= totalPrice %>" hidden>
                                <li>Coupon Discount <span class="text-success">₹ 0</span></li>
                                <input id="discountPriceInput" name="couponDiscount" form="mainForm" type="number" value="<%= totalPrice %>" hidden>
                                <li>Total<span>₹ <%= totalPrice %></span></li>
                                <input id="amountToPayInput" name="amountToPay" form="mainForm" type="number" value="<%= totalPrice %>" hidden>
                            </ul>

                            <ul style="
                      background-color: #ffffff;
                      border-radius: 10px;
                      border: 1px solid rgb(0, 0, 0,0.75);
                      padding-top: 5px;
                      padding-bottom: 5px;
                    ">

                                <li class="ml-2">
                                    <input class="pixel-radio" style="height: 15px; width: 15px;" name="paymentType"
                                        form="mainForm" type="radio" id="cod" value="cod" required />
                                    <label for="cod" class="text-dark">
                                        Cash on delivery
                                    </label>
                                </li>
                                <li class="ml-2">
                                    <input class="pixel-radio" style="height: 15px; width: 15px;" name="paymentType"
                                        form="mainForm" type="radio" id="online" value="online" required />
                                    <label for="online" class="text-dark">
                                        Online payment
                                    </label>
                                </li>
                            </ul>
                            <button type="submit" form="mainForm" class="site-btn">PLACE ORDER</button>
                        </div>
                    </div>

                </div>

            </div>
        </div>
    </section>
    <!-- Checkout Section End -->



    <%- include('./partials/footer') %>