<!DOCTYPE html>
<html lang="zxx" class="no-js">

<head>
    <!-- Mobile Specific Meta -->
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
    <!-- Favicon-->
    <link rel="shortcut icon" href="/images/logo.png" />
    <!-- Author Meta -->
    <meta name="author" content="CodePixar" />
    <!-- Meta Description -->
    <meta name="description" content="" />
    <!-- Meta Keyword -->
    <meta name="keywords" content="" />
    <!-- meta character set -->
    <meta charset="UTF-8" />
    <!-- Site Title -->
    <title>BookNook</title>
    <!--
		CSS
		============================================= -->
    <link rel="stylesheet" href="/css/linearicons.css" />
    <link rel="stylesheet" href="/css/font-awesome.min.css" />
    <link rel="stylesheet" href="/css/themify-icons.css" />
    <link rel="stylesheet" href="/css/bootstrap.css" />
    <link rel="stylesheet" href="/css/owl.carousel.css" />
    <link rel="stylesheet" href="/css/nice-select.css" />
    <link rel="stylesheet" href="/css/nouislider.min.css" />
    <link rel="stylesheet" href="/css/ion.rangeSlider.css" />
    <link rel="stylesheet" href="/css/ion.rangeSlider.skinFlat.css" />
    <link rel="stylesheet" href="/css/magnific-popup.css" />
    <link rel="stylesheet" href="/css/main.css" />
    <!-- font Awesome  -->
    <script src="https://kit.fontawesome.com/4bb28dc21d.js" crossorigin="anonymous"></script>
    <!-- font awesome -->

    <!--------------- Image zoom --------------->

    <!-- jQuery -->
    <script src="https://code.jquery.com/jquery-3.4.1.min.js"></script>

    <!-- Basic Styles For Gallery -->
    <link rel="stylesheet" type="text/css" href="/imageZoom/style.css" />

    <!---------------  Image zoom ------------------>

    <!--------------- 2nd template files ------------------>

    <!-- Google Font -->
    <link href="https://fonts.googleapis.com/css2?family=Nunito+Sans:wght@300;400;600;700;800;900&display=swap"
        rel="stylesheet" />

    <!-- Css Styles -->
    <link rel="stylesheet" href="/template2/css/style.css" type="text/css" />

    <!--------------- 2nd template files ------------------>
    <style>
        .address-box {
            width: 100%;
            background-color: var(--white);
            display: flex;
            justify-content: space-between;
            align-items: center;
            padding: 20px;
        }

        .address-detail {
            display: flex;
            flex-direction: column;
        }

        .address-box input {
            width: 15px;
            height: 15px;
        }
    </style>
</head>

<body style="background-color: #f1f1f1">
    <!-- Start Header Area -->
    <header class="header_area sticky-header">
        <div class="main_menu">
            <nav class="navbar navbar-expand-lg navbar-light main_box">
                <div class="container">
                    <!-- Brand and toggle get grouped for better mobile display -->
                    <a class="navbar-brand logo_h" href="/"><img src="/images/logo.png" width="30%" alt="" /><span
                            class="ml-3">Book<span class="text-danger">Nook</span></span></a>
                    <button class="navbar-toggler" type="button" data-toggle="collapse"
                        data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent"
                        aria-expanded="false" aria-label="Toggle navigation">
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                    <!-- Collect the nav links, forms, and other content for toggling -->
                    <div class="collapse navbar-collapse offset" id="navbarSupportedContent">
                        <ul class="nav navbar-nav menu_nav ml-auto">
                            <li class="nav-item"><a class="nav-link" href="/">Home</a></li>
                            <li class="nav-item">
                                <a class="nav-link" href="/shop">Shop</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="#">Contact</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="/cart"><span style="font-size: large"><i
                                            class="fa-solid fa-cart-shopping"></i></span></a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="/wishlist"><span style="font-size: large"><i
                                            class="fa-regular fa-heart"></i></span></a>
                            </li>
                            <% if (user) { %>
                                <li class="nav-item submenu dropdown">
                                    <a href="#" class="nav-link dropdown-toggle" data-toggle="dropdown" role="button"
                                        aria-haspopup="true" aria-expanded="false"><span style="font-size: large"><i
                                                class="fa-solid fa-circle-user"></i>
                                        </span>
                                        <%= user.name %>
                                    </a>
                                    <ul class="dropdown-menu">
                                        <li class="nav-item">
                                            <a class="nav-link" href="#"><i class="fa-solid fa-address-card"></i>
                                                Profile</a>
                                        </li>
                                        <li class="nav-item"><a class="nav-link" href="/profile/myOrders"><i
                                                    class="fa-solid fa-box-open"></i> My orders</a></li>
                                        <li class="nav-item">
                                            <form action="/logout" method="post">
                                                <button class="nav-link" type="submit" style="width: 100%">
                                                    <i class="fa-solid fa-right-from-bracket"></i> Logout
                                                </button>
                                            </form>
                                        </li>
                                    </ul>
                                </li>
                                <% } else { %>
                                    <li class="nav-item">
                                        <a class="nav-link" href="/login"><span style="font-size: large"><i
                                                    class="fa-solid fa-circle-user"></i></span>
                                            LogIn <i class="fa-solid fa-right-to-bracket"></i></a>
                                    </li>
                                    <% } %>
                        </ul>
                        <!-- <ul class="nav navbar-nav navbar-right">
						</ul> -->
                    </div>
                </div>
            </nav>
        </div>

    </header>
    <!-- End Header Area -->
    <section>
        <div class="container-fluid" style="height: 130px"></div>
    </section>
    <!-- start banner Area -->
    <!-- End banner Area -->

    <!-- Checkout Section Begin -->
    <section class="checkout spad mt-3">
        <div class="container">
            <div class="d-flex justify-content-start mb-3">

            </div>

            <div class="checkout__form">


                <div class="row">

                    <div class="col-lg-8 col-md-6">

                        <h4 class="checkout__title">Billing Details</h4>
                        <div id="accordion">
                            <div class="card">
                                <div class="card-header" id="headingTwo">
                                    <h5 class="mb-0">
                                        <button class="btn collapsed" data-toggle="collapse" data-target="#collapseTwo"
                                            aria-expanded="false" aria-controls="collapseTwo">
                                            Add Address <i class="fa-regular fa-plus"></i>
                                        </button>
                                    </h5>
                                </div>
                                <div id="collapseTwo" class="collapse" data-parent="#accordion">
                                    <div class="card-body">
                                        <form id="addAddressForm" action="/profile/addAddress" method="post">
                                            <div class="row">

                                                <div class="col-lg-6">
                                                    <div class="checkout__input">
                                                        <p>Name<span>*</span></p>
                                                        <input type="text" name="name" required />
                                                    </div>
                                                </div>
                                                <div class="col-lg-6">
                                                    <div class="checkout__input">
                                                        <p>Mobile<span>*</span></p>
                                                        <input type="text" placeholder="+91" name="mobile"
                                                            pattern="[0-9]*" minlength="10" maxlength="10" required />
                                                        <label for="mobile">format:8923488398</label>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="checkout__input">
                                                <p>Address<span>*</span></p>
                                                <textarea name="address" rows="3" form="addAddressForm"
                                                    required></textarea>
                                            </div>
                                            <div class="checkout__input">
                                                <p>Town/City<span>*</span></p>
                                                <input type="text" name="city" required />
                                            </div>
                                            <div class="checkout__input">
                                                <p>State<span>*</span></p>
                                                <input type="text" name="state" required />
                                            </div>
                                            <div class="checkout__input">
                                                <p>PIN code<span>*</span></p>
                                                <input type="number" minlength="4" maxlength="8" name="pincode"
                                                    required />
                                            </div>
                                            <div class="">
                                                <button type="submit" class="btn btn-rounded btn-danger">Save</button>
                                            </div>
                                        </form>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <form id="mainForm" action="/cart/checkout" method="post"></form>
                        <div>

                            <h6 class="mt-5 checkout__title">Choose Address</h6>

                            <% if (addressError) { %>
                                <div class="alert alert-dismissable fade show alert-warning d-flex justify-content-between"
                                    role="alert">
                                    <strong>
                                        Please choose an address before proceeding.if you doesn't have any saved
                                        addresses
                                        please add one using the button given above.
                                    </strong>
                                </div>
                                <% } %>

                                    <% if (!address[0]) { %>
                                        <div class="address-radio">
                                            <input type="radio" class="pixel-radio" hidden value="empty" form="mainForm"
                                                name="address" id="empty" checked required>
                                        </div>
                                        <% }else{%>
                                            <% address.forEach(addr=>{ %>
                                                <label class="address-box mt-3" style="background-color: #dadada;" for="<%= addr.id  %>">
                                                    <div class="address-detail">
                                                        <b class="text-dark">
                                                            <%=addr.name %>
                                                        </b>
                                                        <b class="text-dark">
                                                            <%=addr.mobile %>
                                                        </b>
                                                        <b class="text-dark">
                                                            <%=addr.address %>
                                                        </b>
                                                        <b class="text-dark">PIN: <%=addr.pincode %> </b>
                                                    </div>
                                                
                                                <div class="address-radio" >
                                                    <input type="radio" style="background-color: #ffffff;" class="pixel-radio" value="<%= addr.id  %>"
                                                        form="mainForm" name="address" id="<%= addr.id  %>" required>
                                                </div>
                                            </label>
                                                <% }) %>
                                                    <% } %>

                        </div>

                    </div>
                    <div class="col-lg-4 col-md-6">
                        <form id="couponForm" action="/cart/checkout/coupon" method="post"></form>
                        <div class="cart__discount">
                            <h6>Discount codes</h6>

                            <input type="text" form="couponForm" name="couponCode" placeholder="Coupon code"
                                style="color: #b7b7b7" required />
                            <button type="submit" form="couponForm" class="btn btn-rounded" style="
                            font-size: 14px;
                            color: #ffffff;
                            font-weight: 700;
                            letter-spacing: 2px;
                            text-transform: uppercase;
                            background: #da1111;
                            width: auto;
                            border: none;
                          ">
                                Apply
                            </button>

                        </div>
                        <div class="checkout__order mb-5">
                            <h4 class="order__title">Your order</h4>
                            <div class="checkout__order__products">
                                Product <span>Total</span>
                            </div>
                            <ul class="checkout__total__products">
                                <% products.forEach(product=> { %>
                                    <li>
                                        <%= product.name %> <span>₹ <%= product.price * product.cartQuantity %></span>
                                    </li>
                                    <% }) %>
                            </ul>
                            <ul class="checkout__total__all">
                                <li>Total <span>₹ <%= totalPrice %></span></li>
                            </ul>

                            <ul style="
                      background-color: #c6c3c3;
                      border-radius: 2px;
                      padding-top: 5px;
                      padding-bottom: 5px;
                    ">

                                <li class="ml-2">
                                    <input class="pixel-radio" name="paymentType" form="mainForm" type="radio" id="cod"
                                        value="cod" required />
                                    <label for="cod" class="text-dark">
                                        Cash on delivery
                                    </label>
                                </li>
                                <li class="ml-2">
                                    <input class="pixel-radio" name="paymentType" form="mainForm" type="radio"
                                        id="online" value="online" required />
                                    <label for="online" class="text-dark">
                                        Online payment
                                    </label>
                                </li>
                            </ul>
                            <button type="submit" form="mainForm" class="site-btn">PLACE ORDER</button>
                        </div>
                    </div>

                </div>

            </div>
        </div>
    </section>
    <!-- Checkout Section End -->



    <!-- Js Plugins -->
    <script src="/template2/js/jquery-3.3.1.min.js"></script>
    <script src="/template2/js/jquery.nice-select.min.js"></script>
    <script src="/template2/js/jquery.nicescroll.min.js"></script>
    <script src="/template2/js/jquery.magnific-popup.min.js"></script>
    <script src="/template2/js/jquery.countdown.min.js"></script>
    <script src="/template2/js/jquery.slicknav.js"></script>
    <script src="/template2/js/mixitup.min.js"></script>
    <script src="/template2/js/owl.carousel.min.js"></script>
    <script src="/template2/js/main.js"></script>

    <%- include('./partials/footer') %>