<%- include('./partials/header.ejs') %>

	<head>
		<style>
			@media (max-width: 991px) {
				.swiper-main {
					font-size: 13px !important;
					height: 55vh !important;
				}

				.banner h1 {
					font-size: 1.1rem !important;
				}

				.banner .banner-desc {
					min-width: 300px;
				}

				swiper-container {
					width: 100% !important;
					height: 100% !important;
				}

				swiper-slide {
					font-size: 13px !important;
				}

				.banner {
					padding-left: 30px !important;
				}

			}

			.swiper-main {
				background: #eee;
				font-family: Helvetica Neue, Helvetica, Arial, sans-serif;
				font-size: 14px;
				color: #000;
				margin: 0;
				padding: 0;
				height: 85vh;
			}

			swiper-container {
				width: 80%;
				height: 100%;
			}

			swiper-slide {
				text-align: center;
				font-size: 18px;
				/* background: #fff; */
				display: flex;
				justify-content: center;
				align-items: center;
			}

			swiper-slide img {
				display: block;
				width: 100%;
				height: 100%;
				object-fit: cover;
			}

			.banner {
				width: 100%;
				height: 100%;
				background-repeat: no-repeat;
				background-size: cover;
				display: flex;
				flex-direction: column;
				align-items: flex-start;
				justify-content: center;
				padding-left: 80px;
				box-shadow: inset 200px 200px 300px 200px rgba(0, 0, 0, 0.8);
			}

			.section_gap {
				padding: 80px 0;
			}

			@media (max-width: 575px) {
				.features-area .col-lg-3:last-child .single-features {
					margin-top: 0px;
				}
			}
		</style>
		<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/swiper@9/swiper-bundle.min.css" />
	</head>

	<div class="container-fluid" style="margin-top: -30px">
		<div class="swiper-main">
			<swiper-container class="mySwiper" pagination="true" navigation="true" space-between="30"
				centered-slides="true" autoplay-delay="4000" autoplay-disable-on-interaction="false">
				<% if (bestProducts[0]) { %>
					<% bestProducts.forEach(product=> { %>
						<swiper-slide>
							<div class="banner" style="background-image: url('<%= product.cover[0].secure_url %>');">
								<h3 class="text-warning">BEST SELLER</h3>
								<h2 class="text-white my-3" style="max-width: 90%; text-align: start; overflow: hidden; white-space: nowrap; text-overflow: ellipsis;">
									<%= product.name %>
								</h2>
								<div class="d-flex">
									<span>
										<b class="text-white">
											<%= product.author %>
										</b>
									</span>
									<span class="ml-5">
										<b class="text-white">
											<%= product.category %>
										</b>
									</span>
								</div><br>
								<div class="d-flex" style="max-width: 30%; text-align: start;">
									<span style="color: #999999;" class="banner-desc">
										<%= product.description %>
									</span>
								</div>
								<div class="d-flex my-3">
									<span>
										<b class="text-white">
											₹ <%= product.price %>
										</b>
									</span>
									<span class="ml-5">
										<b style="color: #ff3a3a;">
											<strike>
												₹ <%= product.mrp %>
											</strike>
										</b>
									</span>
								</div>
								<button type="button" class="btn btn-rounded btn-danger"
									onclick="window.location.href='/productDetails/<%= product._id %>'">Buy now</button>

							</div>
						</swiper-slide>
						<% }) %>
							<% } %>
		</div>
	</div>



	<!-- Start category Area -->
	<section class="category-area mt-5">
		<div class="container">
			<div class="d-flex justify-content-center m-3">
				<h1>CATEGORIES</h1>
			</div>
			<div class="row justify-content-center">
				<div class="col-lg-8 col-md-12">
					<div class="row">
						<div class="col-6 col-lg-8 col-md-8">
							<div class="single-deal"
								onclick="window.location.href='/shop?search=&category=Philosophy&price=&sort=0'">
								<div class="overlay"></div>
								<img class="img-fluid w-100"
									src="https://res.cloudinary.com/dbmujhmpe/image/upload/v1680153477/booknook/philosophy_pebrlm.png"
									style="width:100%; height:12em; object-fit: cover;" alt="">
								<a href="/shop?search=&category=Philosophy&price=&sort=0">
									<div class="deal-details">
										<h6 class="deal-title">Philosophy</h6>
									</div>
								</a>
							</div>
						</div>
						<div class="col-6 col-lg-4 col-md-4">
							<div class="single-deal"
								onclick="window.location.href='/shop?search=&category=Personal+development&price=&sort=0'">
								<div class="overlay"></div>
								<img class="img-fluid w-100"
									src="https://res.cloudinary.com/dbmujhmpe/image/upload/v1680153472/booknook/personal_vf0s1t.webp"
									style="width:100%; height:12em; object-fit: cover;" alt="">
								<a href="/shop?search=&category=Personal+development&price=&sort=0">
									<div class="deal-details">
										<h6 class="deal-title">Personal development</h6>
									</div>
								</a>
							</div>
						</div>
						<div class="col-6 col-lg-4 col-md-4">
							<div class="single-deal"
								onclick="window.location.href='/shop?search=&category=Manga&price=&sort=0'">
								<div class="overlay"></div>
								<img class="img-fluid"
									src="https://res.cloudinary.com/dbmujhmpe/image/upload/v1680153470/booknook/manga_q6ykwo.jpg"
									style="width:100%; height:12em; object-fit: cover;" alt="">
								<a href="/shop?search=&category=Manga&price=&sort=0">
									<div class=" deal-details">
										<h6 class="deal-title">Manga</h6>
									</div>
								</a>
							</div>
						</div>
						<div class="col-6 col-lg-8 col-md-8">
							<div class="single-deal"
								onclick="window.location.href='/shop?search=&category=Romance&price=&sort=0'">
								<div class="overlay"></div>
								<img class="img-fluid "
									src="https://res.cloudinary.com/dbmujhmpe/image/upload/v1680153465/booknook/romance_nnwyua.jpg"
									style="width:100%; height: 12em; object-fit: cover;" alt="">
								<a href="/shop?search=&category=Romance&price=&sort=0">
									<div class="deal-details">
										<h6 class="deal-title">Romance</h6>
									</div>
								</a>
							</div>
						</div>
					</div>
				</div>

			</div>
		</div>
	</section>
	<!-- End category Area -->

	<!-- start features Area -->
	<section class="features-area section_gap">
		<div class="container">
			<div class="row features-inner">
				<!-- single features -->
				<div class="col-lg-3 col-6">
					<div class="single-features">
						<div class="f-icon">
							<img src="img/features/f-icon1.png" alt="">
						</div>
						<h6>Free Delivery</h6>

					</div>
				</div>
				<!-- single features -->
				<div class="col-lg-3 col-6">
					<div class="single-features">
						<div class="f-icon">
							<img src="img/features/f-icon2.png" alt="">
						</div>
						<h6>Return Policy</h6>

					</div>
				</div>
				<!-- single features -->
				<div class="col-lg-3 col-6">
					<div class="single-features">
						<div class="f-icon">
							<img src="img/features/f-icon3.png" alt="">
						</div>
						<h6>24/7 Support</h6>

					</div>
				</div>
				<!-- single features -->
				<div class="col-lg-3 col-6">
					<div class="single-features">
						<div class="f-icon">
							<img src="img/features/f-icon4.png" alt="">
						</div>
						<h6>Secure Payment</h6>

					</div>
				</div>
			</div>
		</div>
	</section>
	<!-- end features Area -->

	<!-- start product Area -->
	<section class="section_gap">
		<!-- single product slide -->
		<div class="single-product-slider">
			<div class="container">
				<div class="row justify-content-center">
					<div class="col-lg-6 text-center">
						<div class="section-title">
							<h1>Latest Products</h1>
							<p>Take a look at some of our latest addition to our books collection.</p>
						</div>
					</div>
				</div>
				<div class="row">

					<% if (latestProducts[0]) { %>
						<% latestProducts.forEach(product=> { %>
							<!-- single product -->
							<div class="col-lg-3 col-md-6">
								<div class="single-product d-flex flex-column align-items-center">
									<a href="/productDetails/<%= product._id %>"><img class="img-fluid"
											src="<%= product.mainImage[0].secure_url %>" alt=""
											style="width: 210px;  height: 274px;"></a>
									<div class="product-details d-flex flex-column align-items-center">
										<h6
											style="max-height: 20px; overflow: hidden; white-space: nowrap; text-overflow: ellipsis;">
											<a href="/productDetails/<%= product._id %>" class="text-dark"><span>
													<%= product.name %>
												</span></a>
										</h6>
										<div class="price">
											<h6 class="text-danger">₹ <%= product.price %>
											</h6>
											<h6 class="l-through">₹ <%= product.mrp %>
											</h6>
										</div>
										<div class="d-flex align-items-center">
											<button onclick="window.location.href='/addToCart/<%= product._id %>'"
												class="btn btn-sm btn-rounded btn-danger m-1"><i
													class="fa-solid fa-cart-shopping mr-2"></i>Add to cart</button>
											<button onclick="window.location.href='/wishlist/add2/<%= product._id %>'"
												class="btn btn-sm btn-rounded btn-outline-dark m-1"><i
													class="fa-regular fa-heart mr-2"></i>wishlist</button>
										</div>
										<div class="prd-bottom d-none">

											<a href="/addToCart/<%= product._id %>" class="social-info">
												<span class="ti-bag"></span>
												<p class="hover-text">add to cart</p>
											</a>
											<a class="social-info">
												<span class="lnr lnr-heart"
													onclick="window.location.href='/wishlist/add2/<%= product._id %>'"></span>
												<p class="hover-text"
													onclick="window.location.href='/wishlist/add2/<%= product._id %>'">
													Wishlist</p>
											</a>
										</div>
									</div>
								</div>
							</div>

							<!-- single product -->
							<% }) %>
								<% } %>

				</div>
			</div>
		</div>
		<!-- single product slide -->
		<div class="single-product-slider">

		</div>
	</section>
	<!-- end product Area -->

	<!-- Start exclusive deal Area -->

	<!-- End exclusive deal Area -->


	<!-- Start related-product Area -->
	<section class="related-product-area section_gap_bottom">
		<div class="container">
			<div class="row justify-content-center">
				<div class="col-lg-6 text-center">
					<div class="section-title">
						<h1><span class="text-danger">30%</span> Discount and Above</h1>
						<p>This is the place to find great deals on books across all genres. From bestsellers to manga,
							we offer discounts and promotions on a rotating selection of titles.</p>
					</div>
				</div>
			</div>
			<div class="row">
				<div class="col-lg-9">
					<div class="row">
						<% if (offerProducts[0]) { %>
							<% for(let i=0; i< (offerProducts.length || 9); i++) { %>
								<div class="col-lg-4 col-md-4 col-sm-6 mb-20">
									<div class="single-related-product d-flex">
										<a href="/productDetails/<%= offerProducts[i]._id %>"><img width="50px;"
												src="<%= offerProducts[i].mainImage[0].secure_url %>" alt=""></a>
										<div class="desc">
											<a href="/productDetails/<%= offerProducts[i]._id %>" class="title">
												<%= offerProducts[i].name %>
											</a>
											<div class="price">
												<h6>₹ <%= offerProducts[i].price %>
												</h6>
												<h6 class="l-through">₹ <%= offerProducts[i].mrp %>
												</h6>
											</div>
										</div>
									</div>
								</div>
								<% } %>
									<% } %>
					</div>
				</div>
				<div class="col-lg-3">
					<div class="ctg-right">

						<img class="img-fluid d-block mx-auto" src="img/category/c5.jpg" alt="">
						</>
					</div>
				</div>
			</div>
		</div>
	</section>
	<!-- End related-product Area -->


	<script src="https://cdn.jsdelivr.net/npm/swiper@9/swiper-element-bundle.min.js"></script>

	<script>
		const swiper = new Swiper()

	</script>

	<%- include('./partials/footer.ejs') %>