<%- include('./partials/header.ejs') %>

    <section class="pb-5">

        <div class="container">
            <h4 class="pb-3 text-danger"><i class="fa-solid fa-heart"> <span class="text-dark"> Wishlist</span></i></h4>
            <div class="row" id="emptyWishlist">
                <% if(!products[0]){ %>
                    <div class="empty-container w-100 h-50 d-flex flex-column justify-content-center align-items-center"
                        style="gap:10px">
                        <img src="/images/wishlistEmpty.webp"
                            height="250px" alt="">
                        <h3>Your wishlist is empty!</h3>
                    </div>
                    <% } %>
            </div>
            <div class="row">
                <div class="col-12 mx-auto">
                    <!-- List group-->
                    <ul class="list-group">
                        <!-- list group item-->
                        <% products.forEach(product=> { %>
                            <li class="list-group-item mb-3">
                                <!-- Custom content-->
                                <div class="media align-items-lg-center flex-column flex-lg-row p-3">

                                    <div class="media-body order-2 order-lg-1">
                                        <h5 class="mt-0 font-weight-bold mb-2"
                                            onclick="window.location.href='/productDetails/<%= product._id %>'">
                                            <%= product.name %>
                                        </h5>
                                        <p class="font-italic text-muted mb-0 small">
                                            <%= product.description %>
                                        </p>
                                        <div class="d-flex align-items-center justify-content-between mt-1">
                                            <h6 class="font-weight-bold my-2">₹ <%= product.price %>
                                            </h6>
                                        </div>
                                        <div class="d-flex align-items-center justify-content-between mt-1">
                                            <a href="/addToCart/<%= product._id %>"
                                                class="btn btn-rounded btn-sm btn-dark m-1"><i
                                                    class="fa-solid fa-cart-plus"></i> Add to cart</a>
                                            <a href="/wishlist/remove/<%= product._id %>"
                                                onclick="return confirm(`Do you really want to remove '<%= product.name %>' from wishlist ?`)"
                                                class="btn btn-rounded btn-danger btn-sm m-1"><i
                                                    class="fa-solid fa-trash"></i></a>
                                        </div>
                                    </div>
                                    <img src="/images/productImages/<%= product.mainImage[0].filename %>" alt="image"
                                        height="170px" width="130px" class="ml-lg-5 order-1 order-lg-2 mb-2 mb-lg-0"
                                        onclick="window.location.href='/productDetails/<%= product._id %>'">

                                </div> <!-- End -->

                            </li>
                            <% }) %>

                    </ul>

                </div>

    </section>







    <%- include('./partials/footer.ejs') %>